<?xml version="1.0" encoding="utf-8"?><configuration><packageSources><clear/><add key="nuget.org" value="https://api.nuget.org/v3/index.json"/><add key="MemeTokenHub" value="https://nuget.pkg.github.com/isboat/index.json"/></packageSources><packageSourceMapping><packageSource key="nuget.org"><package pattern="*"/></packageSource><packageSource key="MemeTokenHub"><package pattern="MemeTokenHub.*"/></packageSource></packageSourceMapping></configuration>
